:host {
  display: contents;
}

.name-cell {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .4em;
}
.name {
  display: flex;
  flex-direction: row;
  align-items: center;
  font: var(--tui-font-text-m);
}
.splitter {
  grid-column: 1 / -1;
  border-bottom: 1px solid var(--tui-text-tertiary);
}