:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

app-side-menu {
  flex: 1;
}

.separator {
  flex-grow: 1;
}

tui-scrollbar {
  height: 100%;
  flex-grow: 0;
}

main {
  margin-top: 2em;
}