:host {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

nav {
  display: flex;
  flex-direction: column;
  padding: 1.4em;
  background-color: #eee;
  width: 180px;
  gap: 1.4em;
  overflow: hidden;
  app-teams {
    flex-grow: 1;
  }
}