@if(isAdmin()) {
  <div class="actions tui-space_top-4">
    <button tuiButton (click)="showAddMemberDialog()">Добавить участника</button>
  </div>
}
<section [appTable]="[2,3,1,'3em']">
  <header appTableHeader>
    <div>Участник</div>
    <div>Создан</div>
    <div>Роль</div>
    <div></div>
  </header>
  @if(members()) {
    @for (member of members(); track member.user.id) {
      <app-member-item [teamUser]="member" appTableRow></app-member-item>
    } @empty {
      <span appTableRow>В команде нет участников, но так не бывает :)</span>
    }
  } @else {
    @for (item of [0,1,2]; track item) {
      <div [tuiSkeleton]="5"></div>
      <div [tuiSkeleton]="3"></div>
      <div [tuiSkeleton]="2"></div>
    }
  }
</section>
