<form [formGroup]="form">
  <label tuiLabel>
    Название
    <tui-textfield tuiTextfieldSize="m">
      <input
        placeholder="Введите название команды"
        tuiTextfield
        formControlName="title"
      />
    </tui-textfield>
    <tui-error formControlName="title" [error]="[] | tuiFieldError | async" />
  </label>
  <label tuiLabel>
    Описание
    <tui-textarea tuiTextfieldSize="m" formControlName="description">
    </tui-textarea>
    <tui-error
      formControlName="description"
      [error]="[] | tuiFieldError | async"
    />
  </label>

  <tui-error [formGroup]="form" [error]="[] | tuiFieldError | async" />

  <div class="actions">
    <button appearance="secondary" type="button" (click)="cancel()" tuiButton>
      Отмена
    </button>
    <button
      class="tui-space_left-2"
      type="submit"
      (click)="submit()"
      tuiButton
      [loading]="loading()"
    >
      Создать
    </button>
  </div>
</form>
